/* 
  appBar {
    position: relative,
  }

  layout {
    marginTop: '5%',
    width: 'auto',
    marginLeft: theme.spacing(2),
    marginRight: theme.spacing(2),
    
  }

 
  buttons {
    display: 'flex',
    justifyContent: 'flex-end',
  }
  button {

  }
  divider {
    margin: '20px 0',
  }
  spinner {
    display: 'flex',
    justifyContent: 'center',
    alignItems: 'center',
  } */
